body {
    margin: 0;
    padding: 0;
    background-color: #575757;
}

.green {
    background-color: #75b975;
}

.blue {
    background-color: #7575c9;
}

.violet {
    background-color: #c767ce;
}

.orange {
    background-color: #e8aa84;
}

.red {
    background-color: #bb6e6e;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div {
    width: 22%;
    height: 30vh;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div5 {
    flex-basis: 97%;
    align-self: center;
}

/*
* Part 2
 */

@media screen and (max-width: 1024px) {
    .container {
        width: 30%;
    }

    .container div {
        width: 40%;
        height: 18vh;
    }
}
/*
* Part 3
 */

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        border: 1px solid white;
    }

    .container div, .div5 {
        flex-basis: 90%;
        height: 18vh;
    }
}